body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

button {
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: #333333;
}

#results, #gameFinish{
    width: 100%;
    max-width: 400px;
}

#resultsTable {
    width: 100%;
    border-collapse: collapse;
}

#resultsTable th, #resultsTable td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

#showAnswer {
    width: 100%;
    border-collapse: collapse;
}

#showAnswer th, #showAnswer td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

.loader {
    position: relative;
    width: 80px;
    margin: auto;
  }
  
  .duo {
    height: 20px;
    width: 50px;
    background: hsla(0, 0%, 0%, 0);
    position: absolute;
    
  }
  
  .duo, .dot {
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .duo1 {
    left: 0;
  }
  
  .duo2 {
    left: 30px
  }
  
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #333;
    position: absolute;
  }
  
  .dot-a {
    left: 0px;  
  }
  
  .dot-b {
    right: 0px;
  }
  
  
  @keyframes spin {
      0% { transform: rotate(0deg) }
     50% { transform: rotate(180deg) }
    100% { transform: rotate(180deg) }
  }
  
  @keyframes onOff {
      0% { opacity: 0; }
     49% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 1; }
  }
  
  .duo1 {
    animation-name: spin;
  }
  
  .duo2 {
    animation-name: spin;
    animation-direction: reverse;
  }
  
  .duo2 .dot-b {
    animation-name: onOff;
  }
  
  .duo1 .dot-a {
    opacity: 0;
    animation-name: onOff;
    animation-direction: reverse;
  }



/* 미디어 쿼리 */
@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }

    input[type="text"] {
        margin-right: 10px;
        margin-bottom: 0;
        width: auto;
        flex: 1;
    }

    button {
        width: auto;
    }
    .room-info, .participants {
        width: auto;
    }
}

.player_progress {
  padding-left: 10px;
}